ul data-role='listview'
  li = link_to t('label_city_assign'), '/admin/city_assign'
  li = link_to t('label_menu_assign'), '/admin/menu_assign'
  li = link_to t('label_permission_assign'), '/admin/permission_assign'