/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.flash-success {
  background-color: gray;
  border-color: green;
  color: #fff;
  text-align: center;
  a {
    color: #fff;
  }
}

.flash-info {
  background-color: gray;
  border-color: blue;
  color: #fff;
  text-align: center;
  a {
    color: #fff;
  }
}

.flash-warning {
  background-color: gray;
  border-color: yellow;
  color: #fff;
  text-align: center;
  a {
    color: #fff;
  }
}

.flash-error {
  background-color: red;
  border-color: red;
  text-align: center;
  color: #fff;
}

.ui-grid-a {
  border: 1px solid gray;
}
.ui-grid-b {
  border: 1px solid gray;
}
.ui-grid-c {
  border: 1px solid gray;
}

.ui-grid-a.detail {
  margin-top: 5px;
}

table.table {
  border: 1px solid gray;
}

h2, h3 {
  text-align: center;
}

caption {
  text-align: center;
  padding-top: 10px;
}

ul.pagination {
  text-align: center;
}

a {
  text-decoration: none;
}